@import "tailwindcss";
@import "@nuxt/ui";

@import "@fontsource-variable/quicksand";
@import "@fontsource-variable/public-sans";

@source "../../../content/**/*";

@theme static {
  --font-display: 'Quicksand', sans-serif;
  --font-sans: 'Public Sans', sans-serif;

  --color-havelock-blue-50: #f2f6fc;
  --color-havelock-blue-100: #e1e9f8;
  --color-havelock-blue-200: #cadaf3;
  --color-havelock-blue-300: #a6c2ea;
  --color-havelock-blue-400: #7ca2de;
  --color-havelock-blue-500: #5d83d4;
  --color-havelock-blue-600: #4969c7;
  --color-havelock-blue-700: #3f57b6;
  --color-havelock-blue-800: #384895;
  --color-havelock-blue-900: #324076;
  --color-havelock-blue-950: #222949;
}

:root {
  --ui-container: var(--container-4xl);

  scroll-behavior: smooth;

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}